
*.csv
*.png
.Rproj.user
*.html
*.xls
.Rhistory
.Rhistory
.Rhistory

!Experimental Data.csv
!GCAM_regions.csv
!GCAM_soilC.csv
!GLU_codes.csv
!basin_to_country_mapping.csv
!soil_timescales.csv
!Wei et al Data.csv
*.xlsx
